<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
    <link rel="stylesheet" href="/static/layout_style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css" integrity="sha512-..." crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="{{ url_for('static', filename='layout_style.css') }}">
</head>
<body>
    <div>
        <nav class="bmr-nav">
            <div class="logo-wrapper">
                <a href="{{ url_for('home') }}">
                    <img src="/static/images/logo with text bg-rmv.png"
                        alt="BiteMyRoll"
                        class="logo-img">
                </a>
            </div>


            <div class="bmr-links">
                <a href="{{ url_for('menu') }}">OUR MENU</a>
                <a href="{{ url_for('orders') }}">YOUR ORDER</a>
                <a href="{{ url_for('contact') }}">CONTACT</a>
                <a href="{{ url_for('about') }}">ABOUT&nbsp;US</a>
            </div>

            <li>
                <button onclick="openLocationPopup()" style="background:none;border:none;cursor:pointer;color:white;">
                    <i class="fa-solid fa-location-dot"></i>
                    <span id="user-location-text">
                    {% if cred and cred in database %}
                        {% set loc = database[cred]["location"] %}
                        {% if loc %}
                        {{ loc }}
                        {% else %}
                        Set Location
                        {% endif %}
                    {% else %}
                        Set Location
                    {% endif %}
                    </span>
                </button>
            </li>

            {% if cred %}
                <div class="bmr-authe dropdown">
                    <!-- Icon that toggles the menu -->
                    <button id="userBtn" aria-haspopup="true" aria-expanded="false" onclick="showUser()" >
                        <i class="fas fa-user" style="color: aliceblue;"></i>
                    </button>
                        <a href="{{ url_for('cart') }}"><i class="fas fa-shopping-cart" style="margin-right: 5px; margin-top: 5px; font-size: large; color: aliceblue;" ></i></a>

                    <!-- Dropdown menu -->
                    <div id="userMenu" class="dropdown-menu">
                        <!-- User header -->
                        <div class="dropdown-user">
                            <i class="fas fa-user-circle big-icon"></i>
                            <span class="user-email">{{ cred }}</span>
                        </div>
                        <hr>
                        <a href="{{ url_for('changePassword') }}">Change&nbsp;Password</a>
                        <a href="{{ url_for('logout') }}">Log&nbsp;Out</a>
                    </div>
                    <div class="mobile-menu-toggle" onclick="toggleMobileMenu()">
                        <i class="fas fa-bars"></i>
                    </div>
                    <div class="mobile-menu" id="mobileMenu">
                        <a href="{{ url_for('menu') }}">OUR MENU</a>
                        <a href="{{ url_for('orders') }}">YOUR ORDER</a>
                        <a href="{{ url_for('contact') }}">CONTACT</a>
                        <a href="{{ url_for('about') }}">ABOUT US</a>
                    </div>
                </div>
            {% else %}
                <div class="bmr-auth">
                    <a href="{{ url_for('login') }}"  class="outline">LOGIN</a>
                    <a href="{{ url_for('signup') }}" class="solid"   id="signin">SIGN&nbsp;UP</a>
                </div>
                <div class="mobile-menu-toggle" onclick="toggleMobileMenu()">
                    <i class="fas fa-bars"></i>
                </div>
                <div class="mobile-menu" id="mobileMenu">
                    <a href="{{ url_for('menu') }}">OUR MENU</a>
                    <a href="{{ url_for('orders') }}">YOUR ORDER</a>
                    <a href="{{ url_for('contact') }}">CONTACT</a>
                    <a href="{{ url_for('about') }}">ABOUT US</a>
                    <a href="{{ url_for('login') }}">LOGIN</a>
                    <a href="{{ url_for('signup') }}">SIGN UP</a>
                </div>
            {% endif %}
        </nav>
    </div>

    


    {% block content %}
    {% endblock %}
    <div id="locationPopup" style="display:none;position:fixed;top:0;left:0;width:100%;height:100%;background:rgba(0,0,0,0.7);z-index:9999;justify-content:center;align-items:center;">
        <div style="background:#1a1a1a;padding:2rem;border-radius:10px;max-width:400px;text-align:center;position:relative;">
            <h2 style="color: #ffa33f;">Set Your Delivery Location</h2>
            <input type="text" id="manualLocation" placeholder="Enter your delivery location..." style="width:100%;padding:0.5rem;margin-top:1rem;">            
            <button onclick="submitLocation()" class="fas fa-user" style="margin:1rem 0; background-color: #ffa33f;height: 26px;width: 101px;border-radius: 14px;">Save</button>
            <br>
            <button onclick="getLocationFromGPS()" class="btn-orange" style="background-color: #ffa33f;height: 26px;width: 101px;border-radius: 14px;">Use My GPS</button>
            <br>
            <button onclick="closeLocationPopup()" style="position:absolute;top:10px;right:15px;background:none;border:none;font-size:1.5rem;">&times;</button>
        </div>
    </div>

    <div id="toast-container">
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% for category, message in messages %}
            <div class="toast {{ category }}">{{ message }}</div>
            {% endfor %}
        {% endwith %}
    </div>

    <footer>
        <p>© 2025 BiteMyRoll. All rights reserved.</p>
    </footer>
</body>
    <script>
        function toggleMobileMenu () {
            const menu = document.getElementById('mobileMenu');
            menu.classList.toggle('show');
        }

        function showUser() {
            var card = document.getElementById('userMenu');

            if (card.style.display === 'none' || card.style.display === '') {
                card.style.display = 'block';
            } else {
                card.style.display = 'none';
            }
        }

        
        function openLocationPopup() {
            const locationText = document.getElementById('user-location-text').innerText.trim();
            const input = document.getElementById('manualLocation');
            if (locationText !== "Set Location") {
                input.value = locationText;  // user already had a location
            } else {
                input.value = ""; // show placeholder instead
            }
            document.getElementById('locationPopup').style.display = 'flex';
        }


        function closeLocationPopup() {
            document.getElementById('locationPopup').style.display = 'none';
        }

        function submitLocation() {
            const location = document.getElementById("manualLocation").value.trim();
            if (!location) {
                alert("Please enter a location.");
                return;
            }
            const url = "/set_location/" + encodeURIComponent(location);
            window.location.href = url;
        }



        function getLocationFromGPS() {
            if (navigator.geolocation) {
            navigator.geolocation.getCurrentPosition(position => {
                const coords = `${position.coords.latitude.toFixed(4)}, ${position.coords.longitude.toFixed(4)}`;
                document.getElementById('manualLocation').value = coords;
            }, () => {
                alert("Failed to get location. Please allow location access.");
            });
            } else {
            alert("Geolocation is not supported by this browser.");
            }
        }



    </script>

    
</html>